// just custom text
.txt-center{
    text-align: center !important;
}
.txt-left{
    text-align: left !important;
}
.txt-right{
    text-align: right !important;
}
.txt-justify{
    text-align: justify !important;
}
.txt-uppercase{
    text-transform: uppercase !important;
}
.txt-lowercase{
    text-transform: lowercase !important;
}
.txt-decoration{
    text-decoration: none !important;
}
.txt-unset{
    text-transform: unset !important;
}