.custom-button{
    text-align: center;
    a{
        text-decoration: none;
        color: $white-color;
        padding: 12px 30px;
        display: inline-block;
        background: $green-color;
        border-radius: 8px;
        &:hover{
            filter: brightness(0.95);
        }
    }
}