*{margin: 0; padding: 0;}
.header{
	background: url('../images/bg-header.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 1335px;
}
.logo-en {
    padding: 65px 0px 0px;
    text-align: right;
}
.pd-form {
    /* padding: 25px 20px; */
    margin-left: 15px;
    border: 0px solid #fff;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Nunito';
    height: 45px;
}
.form-group {
    margin-bottom: 0px;
}
.box-form input {
    margin-bottom: 30px;
    margin-left: 15px;
}
.box-form {
    padding: 29% 14%;
    background: url(../images/bg-form-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#frm-main {
    padding: 0px 5px;
}
.btn-resiger img {
    margin: 0 auto !important;
}
.content-arrow .heading-title {
    font-size: 35px;
    text-transform: uppercase;
    color: #f77101;
    font-weight: 500;
    font-family: 'UTM Copperplate';
    font-weight: 700;
}
.content-arrow {
    padding-left: 65px;
}
.text-arrow {
    font-size: 20px;
    text-align: justify;
    font-family: 'Nunito';
    margin-top: 20px;
}
.text-arrow strong{
	color: #f77101;
}
.box-first {
    margin-top: -185px;
}
.block-content-2 {
    background: #fdbc1b;
    padding: 60px 0px;
    margin-top: 100px;
}
.tittle-global {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'UTM Copperplate';
    font-weight: 700;
}
.img-inner a img {
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.img-inner a:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.item-global {
    text-align: center;
    margin-top: 55px;
}
.about-info{
    padding: 0px 35px;
    font-size: 18px;
    font-family: 'Nunito';
}
.pro-name a {
    /* background: #fff; */
    text-decoration: none;
    padding: 5px 20px;
    color: #f77101;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Nunito';
    background: #fff;
    background: linear-gradient(to left, #fff 50%, #f77101 50%);
    background-size: 203% 100%;
    background-position: right bottom;
    transition: all 1s ease;
}
.pro-name {
    margin: 15px 0px 15px;
}
.pro-name a:hover {
    background-position: left bottom;
    color: #fff;
}
.img-inner {
    position: relative;
}

a.next.visible-lg.slick-arrow img {
    -webkit-transform: rotate(360deg);
    transform: rotate(540deg);
}
a.prev.visible-lg.slick-arrow {
    position: absolute;
    z-index: 999999999 !important;
    top: 155px;
}
a.next.visible-lg.slick-arrow {
    position: absolute;
    right: 0;
    top: 150px;
}
.slick-dots li button:before{
	font-size: 20px !important;
	color: #fff !important;
}
.slick-dots li.slick-active button:before{
	color: #fff !important;
}

.tittle-global-3 {
    font-size: 48px;
    text-transform: uppercase;
    color: #f77101;
    font-family: 'UTM Copperplate';
    font-weight: 700;
}
.block-content-3 {
    padding-top: 100px;
}
.slick-slide {
    outline: none !important;
}

.table-responsive {
    font-size: 18px;
    font-weight: 700;
}
.color-table {
    background: #f77101;
    color: #fff;
     font-family: 'Nunito';
}
table.table.table-bordered {
    text-align: center;
    border: 3px solid #fff;
}
table.table.table-bordered td {
    border: 5px solid #fff !important;
}
.heading-color .color-yellow {
    background: #fdbc1b;
    color: #fff;
    font-weight: 700;
    font-family: 'Nunito';
}
.color-yellow-1 {
    background: #fff2d2;
    font-family: 'Nunito';
}
.table-responsive{
	border: none;
}
.heading-table {
    text-transform: uppercase;
    margin-left: 5px;
    color: #f77101;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: 700;
}
.table-first {
    margin: 40px 0px;
}
.pd-0 {
    padding: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.item.pd-0 {
    width: 570px;
}
/* .table-second thead tr td:nth-child(4),.table-second thead tr td:nth-child(5),.table-second thead tr td:nth-child(6) {
    background: #fff;
} */
footer {
    background: url(../images/bg-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    margin-top: 100px;
}
.address-arrow li {
    font-size: 22px;
    margin: 30px 0px;
    font-family: 'Nunito';
    text-shadow: 1px 1px 0px #252261;
}
.address-arrow li:last-child{
	margin-bottom: 0;
}
.contact-info {
    padding: 34px 0px;
}
.hotline {
    padding-top: 115px;
    text-align: center;
}
.heading-footer {
    font-family: 'UTM Copperplate';
    font-weight: 700;
    text-shadow: 1px 1px 0px #252261;
}



@font-face {
    font-family: 'UTM Copperplate';
    src: url('../fonts/UTM CopperplateB.ttf');
}
@font-face {
    font-family: 'UTM Copperplate';
    src: url('../fonts/UTM Copperplate.ttf');
}
@font-face {
    font-family: 'UTM American Sans';
    src: url('../fonts/UTM American Sans.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf');
}
.flex-top-header {
    display: flex;
    flex-wrap: wrap;
}

.text-content-header {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Nunito';
    margin-top: 40px;
    text-align: justify;
}

.item-header-1 {
    width: 500px;
}
.item-header-2 {
    width: 650px;
    margin-left: 20px;
}
.item-first {
    text-align: center;
    margin-top: 90px;
}
.item-second {
    text-align: right;
    margin-top: 30px;
    position: relative;
    z-index: 0;
}
.item-three {
    text-align: center;
    margin-top: -100px;
    margin-right: 75px;
    position: relative;
    z-index: 9;
       
}
.item-four {
    text-align: right;
}
.item-first img,.item-second img,.item-three img{
      webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.item-first:hover img,.item-second:hover img,.item-three:hover img{
    webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
button.btn.btn-danger.change-size.webform-submit.form-submit {
    background: transparent;
    border: none;
    outline: none !important;
    box-shadow: none !important;
}
select#edit-submitted-san-pham {
    margin-bottom: 25px;
    color: #9D9D9D;
    font-size: 12px;
}
.hotline img {
    max-width: 100%;
}
/* .item-first img:hover,.item-second img:hover,.item-three img:hover {
    animation: ring 0.5s; 
    animation-iteration-count: infinite; 
}
 */

.address-arrow li:first-child {
    margin-top: 30px;
}
#back-top {
    position: fixed;
    right: -20px;
    bottom: 0;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    padding: 14px 0;
    z-index: 9;
    opacity: 0;
    border-radius: 5px;
    visibility: hidden;
    transition: all 0.6s ease 0s;
    transform: translateX(100px);
}
#back-top.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0)
}
/* .white-popup-thanks {
    background: url(../images/popup.png);
    background-size: 50%;
    height: 880px;
    background-repeat: no-repeat;
    background-position: center;
}
 */
 .img-popup img {
    margin: 0 auto;
}
.mfp-close-btn-in .mfp-close {
    color: #333;
    right: 26%;
}
















@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait){

}
@media (max-width: 767px) {
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	#frm-main{
		padding: 0;
	}
	.box-form input,.pd-form {
	    margin-left: 0px;
	}
	.content-arrow{
		padding: 0;
	}
	.hotline {
	    padding-top: 0px;
	    text-align: left;
	}
	.box-first {
    	margin-top: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
    .content-arrow .heading-title{
        font-size: 30px;
    }
    .header {
        background: none;
        height: auto;
    }
    .mfp-close-btn-in .mfp-close{
        right: 0 !important;
    }
}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape){
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	#frm-main{
		padding: 0;
	}
	.content-arrow{
		padding: 0;
	}
	.hotline {
	    padding-top: 0px;
	    text-align: left;
	}
	.box-first {
    	margin-top: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
 /*     .header {
        background: url(../images/mobile.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        height: 1110px;
    } */
    .mfp-close-btn-in .mfp-close{
        right: 0;
    }
}
/*678 plus doc*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait){
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	#frm-main{
		padding: 0;
	}
	.box-form input,.pd-form {
	    margin-left: 0px;
	}
	.content-arrow{
		padding: 0;
	}
	.hotline {
	    padding-top: 0px;
	    text-align: left;
	}
	.box-first {
    	margin-top: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
    .mfp-close-btn-in .mfp-close{
        right: 0 !important;
    }
}


/*678 plus ngang*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape){
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	#frm-main{
		padding: 0;
	}
	.box-form input,.pd-form {
	    margin-left: 0px;
	}
	.content-arrow{
		padding: 0;
	}
	.hotline {
	    padding-top: 0px;
	    text-align: left;
	}
	.box-first {
    	margin-top: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
    .mfp-close-btn-in .mfp-close{
        right: 0 !important;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3)and (orientation : landscape){
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	#frm-main{
		padding: 0;
	}
	.content-arrow{
		padding: 0;
	}
	.hotline {
	    padding-top: 0px;
	    text-align: left;
	}
	.box-first {
    	margin-top: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
    .mfp-close-btn-in .mfp-close{
        right: 0 !important;
    }
}
@media (min-width : 768px) and (max-width: 991px) {
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	.content-arrow{
		padding: 0;
	}
	.hotline {
	    padding-top: 0px;
	    text-align: left;
	}
	.box-first {
    	margin-top: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
    .mfp-close-btn-in .mfp-close{
        right: 0 !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	#frm-main{
		padding: 0;
	}
	.box-form input,.pd-form {
	    margin-left: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
    .mfp-close-btn-in .mfp-close{
        right: 0 !important;
    }
}
@media only screen and (min-device-width :1024px) and (max-device-width :1366px) and (orientation :portrait){
	.logo-en {
    	padding: 20px 0px;
    	text-align: center;
	}
	#frm-main{
		padding: 0;
	}
	.box-form input,.pd-form {
	    margin-left: 0px;
	}
	.tittle-global,.tittle-global-3 {
    	font-size: 35px;
	}
    .mfp-close-btn-in .mfp-close{
        right: 0 !important;
    }
}
@media (min-width: 1200px){
    *{}
     .container{
        width:1200px
    }
}
.mobile-bg img {
    width: 100%;
}
@media only screen and (min-device-width :1024px) and (max-device-width :1366px) and (orientation :portrait){
 
}
@media (max-width:1280px) and (min-width:900px){
    .mfp-close-btn-in .mfp-close{
        right: 15% !important;
    }
}
@media (max-width:1366px) and (min-width:1280px){
    .flex-top-header {
        transform: scaleY(0.8);
        position: relative;
        top: -220px;
    }
    .header{
        height: 950px;
    }
    .block-content-1 {
         margin-top: 100px;
    }
    .logo-en {
        padding: 70px 0px 0px;
        margin-bottom: 90px;
    }
}
@media (max-width:1440px){
     .flex-top-header {
        transform: scaleY(0.8);
        position: relative;
        top: -220px;
    }
    .header{
        height: 950px;
    }
    .block-content-1 {
         margin-top: 100px;
    }
    .mfp-close-btn-in .mfp-close{
        right: 18%;
    }
      .logo-en {
        padding: 70px 0px 0px;
        margin-bottom: 90px;
    }

}
@media (min-width:1200px){

}































